@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

body {
  font-family: 'PT Sans Narrow', sans-serif;
  width: 500px;
}

h1 {
  padding-bottom: 2rem;
}

.input {
  padding-bottom: 2rem;
}

.done {
  text-decoration: line-through;
}

li {
  list-style: none;
}

#userinput {
  padding: 6px 12px;
}

.task {
  background: #f4f4f4;
  margin: 5px;
  padding: 20px 20px;
  cursor: pointer;
  border-radius: 10px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delete {
  text-decoration: none;
}
